nav{
    display: block;
    box-sizing: border-box;
    width: 100%;
    line-height: 2em;
    background-color: #333333;
    text-align: right;
    position: fixed;
    top: 0%;
    left: 0%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 6px;

}
svg{
    border-block-start-width: unset;
    height: 40px;
    width: 40px;
    text-align: left;
}

section{
    text-align: left;

}
a{
    color: #ff0099;
    font-size: large;
    align-content: center;
    padding-left: 2%;
    padding-right: 2%;
}
body{
    background-image: url(assets/images/topography.png);
    margin: 0%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Courier New', Courier, monospace;
}
.alcim{
    color: #ff0099;
}
hr.hrvonal {
    width: 10em;
    border-left: 10em;
    border-right: 10em;
    border-bottom: 1pt solid #8c8b8b;
    border-top: 1px solid #8c8b8b;
}
p{
    text-align: left;
}
article{
}
.email{
    text-align: center;
    color: blue;
}
img{
    width: 70%;
    height: 70%;
    padding-left: 15%;
    padding-right: 15%;
    vertical-align: middle;
}
