body{
    background-image: url(assets/images/topography.png);
    text-align: center;
    font-size: medium;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    background-color: #333333;
}
a{
    color: #ff0099;
}
.alcim{
    color: #ff0099;
}
hr{
    width: 2em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 2pt;
    border-bottom-style: dashed;
}
hr.hrrolam {
    width: 10em;
    border-left: 10em;
    border-right: 10em;
    border-bottom: 1pt solid #8c8b8b;
    border-top: 1px solid #8c8b8b;
}
p{
    text-align: left;
}
.email{
    text-align: center;
    color: blue;
}
/*:link{
    background-color: #333333;
}*/
.kep{
    align-content: center;
    width: 70%;
    height: 70%;
}