.center{
    text-align: center;
    font-size: medium;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    background-color: #333333;
}
a{
    color: #ff0099;
}
.alcim{
    color: #ff0099;
}
hr{
    width: 2em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 2pt;
    border-bottom-style: dashed;
}
p{
    text-align: left;
}
.email{
    text-align: center;
    color: blue;
}
/*:link{
    background-color: #333333;
}*/
.kep1{
    align-content: center;
    width: 24%;
    height: 24%;
}